{% extends 'base.html' %}
{% block title %}Сброс пароля прошёл успешно{% endblock %}
{% load static %}
{% block page_style %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock page_style%}
{% block content %}

    <div class="custom-center-block">
        <p class="custom-text-block">Сброс пароля прошёл успешно</p>
        <p class="custom-text-block">Письмо с ссылкой на восстановления пароля отправлен на e-mail.</p>
        <div class="custom-button-block">
            <button class="button button_style_blue"><a class="nav__link link" href="{% url 'index' %}">Перейти на главную</a></button>
        </div>
    </div>

{% endblock %}