{% load static %}
<link rel="stylesheet" href="{% static '/pages/single.css' %}">
{% load user_filters %}

<div class="card" data-id={{ recipe.id }}>
    {% load thumbnail %}
    {% thumbnail recipe.image '480x480' crop='center' as im %}
        <img src="{{ im.url }}" alt="{{ recipe.title }}" class="card__image">
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href={% url 'recipe-view' recipe.author.username recipe.id %}>{{ recipe.title }}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
                <li class="card__item">
                    <span class="badge badge_style_{{ tag.color }}">{{ tag.title }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a
                    href="{% url 'profile' recipe.author.username %}">{{ recipe.author }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% if not recipe|purchase:request.user %}
            <button class="button button_style_light-blue" name="purchases" data-out><span
                    class="icon-plus button__icon"></span>Добавить в покупки
            </button>
        {% else %}
            <button class="button button_style_light-blue-outline" name="purchases"><span
                    class="icon-check button__icon"></span> Рецепт добавлен
            </button>
        {% endif %}
        {% if not recipe|favorite:request.user %}
            <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span>
            </button>
        {% else %}
            <button class="button button_style_none" name="favorites"><span
                    class="icon-favorite icon-favorite_active"></span></button>
        {% endif %}
    </div>
</div>