{% extends 'base.html' %}
{% block title %}Избранное{% endblock title %}
{% load static %}
{% block page_style %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock page_style %}


<body class="body">
{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Избранное</h1>
            <ul class="tags">
                {% include 'includes/tags.html' %}
            </ul>

        </div>
        <div class="card-list">
        {% csrf_token %}
        {% for recipe in page %}
            {% with recipe=recipe.recipe %}
            {% include 'includes/index_recipe.html' %}
            {% endwith %}
        {% endfor %}
        </div>
    {% if page.has_other_pages %}
        {% include 'includes/paginator.html' with items=page paginator=paginator%}
    {% endif %}
    </main>
</body>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'indexAuth.js' %}"></script>
{% endblock js %}
